<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <TSChecker.Properties.Settings>
            <setting name="DriveClientId" serializeAs="String">
                <value>317508044186-0crsurmrj4123blcb2jturlgnj7rnjs8.apps.googleusercontent.com</value>
            </setting>
            <setting name="DriveClientSecret" serializeAs="String">
                <value>CR9qK9rXaB8bxizV1MBN_WAh</value>
            </setting>
            <setting name="DriveFileId" serializeAs="String">
                <value>0B8G9vu6N0EcCR3hfYTNWQW9SNDA</value>
            </setting>
        </TSChecker.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TSChecker.Properties.Settings>
            <setting name="AODRId" serializeAs="String">
                <value>37530159341115681</value>
            </setting>
            <setting name="AODCId" serializeAs="String">
                <value>37530159341130061</value>
            </setting>
            <setting name="AODSId" serializeAs="String">
                <value>37530159341133378</value>
            </setting>
            <setting name="DaybreakURL" serializeAs="String">
                <value>census.daybreakgames.com</value>
            </setting>
            <setting name="DaybreakResponseFormat" serializeAs="String">
                <value>xml</value>
            </setting>
            <setting name="DaybreakPlanetsideQuery" serializeAs="String">
                <value>ps2:v2</value>
            </setting>
            <setting name="AOD_Divisions" serializeAs="String">
                <value>Planetside 2,AOD Racing,ARK,Armored Warfare,Battlefield,Battlefront,Black Desert,Jedi Knight,Overwatch,Skyforge,Tom Clancy,Warframe,War Thunder,World of Warcraft</value>
            </setting>
        </TSChecker.Properties.Settings>
    </userSettings>
</configuration>